body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: #ddd;
}

.header {
  background-color: #333;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: center; /* Center text horizontally */
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-left: auto; /* Align nav-links to the right */
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

.main-content { 
  padding-top: 60px; /* Adjust according to header height */
  padding-bottom: 60px; /* Adjust according to footer height */
  margin: 0 auto; 
  max-width: 1200px; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 50px; 
  height: auto; 
}

.video-container {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

th, td {
  border: 1px solid #f1f1f12d;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f1f1f12d;
  color: #afaeae;
}

tr:nth-child(even) {
  background-color: #f1f1f12d;
}

tr:hover {
  background-color: #f1f1f163;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000; /* Ensures the footer stays on top of other content */
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-links li {
  display: inline;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
